// ------------ //
// Brand Colors //
// ------------ //

$color-facebook			= #3B5998
$color-twitter			= #55ACEE
$color-googleplus		= #DD4B39
$color-dribble			= #EA4C89
$color-aboutme			= #FFCC33
$color-foursquare		= #0CBADF
$color-linkedin			= #0077b5
$color-instagram		= #ee2a7b
$color-instagram-pink	= #ee2a7b
$color-instagram-yellow = #f9ed32
$color-pinterest		= #CB2027
$color-flickr			= #FF0084
$color-quora			= #A82400
$color-soundcloud		= #FF6600
$color-youtube			= #FF3333
$color-vimeo			= #1AB7EA
$color-tumblr			= #2C4762
$color-delicious		= #285DA7
$color-vine				= #00AA7F
$color-lastfm			= #D51007
$color-github			= #4183C4
$color-grooveshark		= #F77F00
$color-spotify			= #7AB800
$color-rdio				= #006ED2
$color-reddit			= #FF5700
$color-slideshare		= #f38f1d
$color-feeds			= #fa9b39
$color-skype			= #00AFF0
$color-paypal			= #336699
$color-dropbox			= #1F8CE6
