// ---------------- //
// Grayscale Colors //
// ---------------- //

// Grayscale
$black-05 =	blacky(05)
$black-10 =	blacky(10)
$black-15 =	blacky(15)
$black-20 =	blacky(20)
$black-25 =	blacky(25)
$black-30 =	blacky(30)
$black-35 =	blacky(35)
$black-40 =	blacky(40)
$black-45 =	blacky(45)
$black-50 =	blacky(50)
$black-55 =	blacky(55)
$black-60 =	blacky(60)
$black-65 =	blacky(65)
$black-70 =	blacky(70)
$black-75 =	blacky(75)
$black-80 =	blacky(80)
$black-85 =	blacky(85)
$black-90 =	blacky(90)
$black-95 =	blacky(95)