// ---------------- //
// Grayscale Colors //
// ---------------- //

// Grayscale
$black-05 =	blackfy(05)
$black-10 =	blackfy(10)
$black-15 =	blackfy(15)
$black-20 =	blackfy(20)
$black-25 =	blackfy(25)
$black-30 =	blackfy(30)
$black-35 =	blackfy(35)
$black-40 =	blackfy(40)
$black-45 =	blackfy(45)
$black-50 =	blackfy(50)
$black-55 =	blackfy(55)
$black-60 =	blackfy(60)
$black-65 =	blackfy(65)
$black-70 =	blackfy(70)
$black-75 =	blackfy(75)
$black-80 =	blackfy(80)
$black-85 =	blackfy(85)
$black-90 =	blackfy(90)
$black-95 =	blackfy(95)
